:root {
	--ion-color-a: #3B1E54;
	--ion-color-a-rgb: 59,30,84;
	--ion-color-a-contrast: #ffffff;
	--ion-color-a-contrast-rgb: 255,255,255;
	--ion-color-a-shade: #341a4a;
	--ion-color-a-tint: #4f3565;
}

.ion-color-a {
	--ion-color-base: var(--ion-color-a);
	--ion-color-base-rgb: var(--ion-color-a-rgb);
	--ion-color-contrast: var(--ion-color-a-contrast);
	--ion-color-contrast-rgb: var(--ion-color-a-contrast-rgb);
	--ion-color-shade: var(--ion-color-a-shade);
	--ion-color-tint: var(--ion-color-a-tint);
}

:root {
	--ion-color-b: #9B7EBD;
	--ion-color-b-rgb: 155,126,189;
	--ion-color-b-contrast: #000000;
	--ion-color-b-contrast-rgb: 0,0,0;
	--ion-color-b-shade: #886fa6;
	--ion-color-b-tint: #a58bc4;
}

.ion-color-b {
	--ion-color-base: var(--ion-color-b);
	--ion-color-base-rgb: var(--ion-color-b-rgb);
	--ion-color-contrast: var(--ion-color-b-contrast);
	--ion-color-contrast-rgb: var(--ion-color-b-contrast-rgb);
	--ion-color-shade: var(--ion-color-b-shade);
	--ion-color-tint: var(--ion-color-b-tint);
}

:root {
	--ion-color-c: #F3F7EC;
	--ion-color-c-rgb: 243,247,236;
	--ion-color-c-contrast: #000000;
	--ion-color-c-contrast-rgb: 0,0,0;
	--ion-color-c-shade: #d6d9d0;
	--ion-color-c-tint: #f4f8ee;
}

.ion-color-c {
	--ion-color-base: var(--ion-color-c);
	--ion-color-base-rgb: var(--ion-color-c-rgb);
	--ion-color-contrast: var(--ion-color-c-contrast);
	--ion-color-contrast-rgb: var(--ion-color-c-contrast-rgb);
	--ion-color-shade: var(--ion-color-c-shade);
	--ion-color-tint: var(--ion-color-c-tint);
}

:root {
	--ion-color-y: #FFC55A;
	--ion-color-y-rgb: 255,197,90;
	--ion-color-y-contrast: #000000;
	--ion-color-y-contrast-rgb: 0,0,0;
	--ion-color-y-shade: #e0ad4f;
	--ion-color-y-tint: #ffcb6b;
}

.ion-color-y {
	--ion-color-base: var(--ion-color-y);
	--ion-color-base-rgb: var(--ion-color-y-rgb);
	--ion-color-contrast: var(--ion-color-y-contrast);
	--ion-color-contrast-rgb: var(--ion-color-y-contrast-rgb);
	--ion-color-shade: var(--ion-color-y-shade);
	--ion-color-tint: var(--ion-color-y-tint);
}

